<launch>   
    <node name="ntrip_node" pkg="ntrip" type="ntrip_node" output="screen">
        <param name="ip" type="string"  value="120.253.239.161" />  <!-- Change to the IP address of Your NTRIP service-->
        <param name="port" type="int" value="8002" />  <!-- Change to your port number for WGS84 -->
        <param name="user" type="string" value="Your_User_Name" /> <!-- Change to your username -->
        <param name="passwd" type = "string" value="Your_Password" /> <!-- Change to your password -->
        <param name="mountpoint" type = "string" value="RTCM33_GRCE" /> <!-- Change to your mountpoint -->
        <param name="report_interval" type = "int" value="1" /> <!-- the report interval to the NTRIP Caster, default is 1 sec -->
    </node>
</launch>

